<div>
 
    <mat-form-field appearance="outline" class="top_right">
      <mat-label>Rechercher</mat-label>
      <input matInput (keyup)="applyFilterClient($event.target.value)" placeholder="Rechercher">
    </mat-form-field>

  <table mat-table [dataSource]="Invoices" class="mat-elevation-z8">

    <ng-container matColumnDef="datecmd">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Date Commande </th>
      <td mat-cell class="center_elems" *matCellDef="let element"> {{element.creation_date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="datepay">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Date Paiement </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.pay_date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="somme">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Total Commande </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.total}}  </td>
    </ng-container>
  
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Client </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.client.name}} </td>
    </ng-container>

    <ng-container matColumnDef="cmd">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Numéro Commande </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> {{element.order.matricule}} </td>
    </ng-container>

    <ng-container matColumnDef="listprod">
      <th mat-header-cell *matHeaderCellDef class="center_elems"> Listes Des Produits </th>
      <td mat-cell *matCellDef="let element" class="center_elems"> 
      <mat-select name="modeEntrainement"><mat-option *ngFor="let val of element.order.products" value="{{val.label}}">{{val.label}}</mat-option>
      </mat-select></td>
    </ng-container>
  
    <!-- <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="center_elems"> Actions </th>
        <td mat-cell *matCellDef="let element" class="center_elems"> 
             <button mat-stroked-button (click)="Modifier(element)" class="btn btn-war" style="margin-right: 10px;">Modifier</button>
            <button mat-stroked-button (click)="Supprimer(element.id)" class="btn btn-dan" style="margin-right: 10px;">Supprimer</button>
            <button mat-stroked-button (click)="AfficherDetails(element)" class="btn btn-in">Détails</button>
        </td>
      </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <!-- <button mat-button routerLink="/addClient/0" class="btn btn-prim btn-lg" style="margin-top: 20px; margin-left: 45%;">
    Ajouter Un Client
  </button> -->
</div>


