.btn-class{
    margin:10px; 
    background-color:white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #d9534f;
    width: 19%;
    margin: 10px;
    text-align: center;
  }
.profile-pic{
    margin-top: 60px;
    margin-left: 110px;
   // margin-right: 110px;
}