<div class="navbar navbar-expand-lg navbar-light bg-dark" >
    <h1 style=" margin-left: 50px; color: honeydew; margin-top: 10px;">Bienvenue à Stockholme</h1>
</div>
<div>
    <img class="rounded-circle profile-pic"
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" height="150px"
        width="150px">
<h2 style="margin-left: 115px;">Bienvenue User,</h2>
</div>
<div class="border-right" style="margin-top: 40px; background-color:#2A3F54;" >
    <div class="list-group list-group-flush">
        <button mat-button class="btn-class">
            <mat-icon style="margin-right: 20px;">dashboard</mat-icon>
            Interface De pilotage
        </button>
        <button mat-button class="btn-class">
            <svg style="margin-right: 20px;" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-box-seam"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z" />
            </svg>
            Produits
        </button>
        <button mat-button class="btn-class">
            <mat-icon style="margin-right: 20px;">people</mat-icon>
            Clients
        </button>
        <button mat-button class="btn-class">
            <mat-icon style="margin-right: 20px;">text_snippet</mat-icon>
            Factures
        </button>
        <button mat-button class="btn-class">
            <mat-icon style="margin-right: 20px;">request_quote</mat-icon>
            Devis
        </button>
        <button mat-button class="btn-class">
            <mat-icon style="margin-right: 20px;">shopping_cart</mat-icon>
            Commandes
        </button>
        <button mat-button class="btn-class">
            <mat-icon style="margin-right: 20px;">account_circle</mat-icon>
            Utilisateurs
        </button>
        <button mat-button class="btn-class">
            <mat-icon style="margin-right: 20px;">work</mat-icon>
            Fournisseurs
        </button>
        <button mat-button class="btn-class">
            <mat-icon style="margin-right: 25px;">home</mat-icon>
            Entrepots
        </button>
    </div>

    <button mat-button class="footer">
        <mat-icon style="margin-right: 25px;">power_settings_new</mat-icon>
        Se Déconnecter
    </button>
</div>