<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="push" class="example-sidenav" style="background-color:#2A3F54;">
    <app-menu></app-menu>
  </mat-drawer>
  <mat-drawer-content class="wrapper">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>StockHolme</span>
      <button routerLink="/listProducts" mat-button>
        Produits
      </button>
      <button routerLink="/listClients" mat-button>
        Clients
      </button>
      <button routerLink="/listInvoices" mat-button>
        Factures
      </button>
      <button routerLink="/listQuotations" mat-button>
        Devis
      </button>
      <button routerLink="/listOrders" mat-button>
        Commandes
      </button>
      <button routerLink="/listUsers" mat-button>
        Utilisateurs
      </button>
      <button routerLink="/listSuppliers" mat-button>
        Fournisseurs
      </button>
      <button routerLink="/listWarehouses" mat-button>
        Entrepots
      </button>
      <span class="example-spacer"></span>
      <button routerLink="/login" mat-button >
        Se Connecter
      </button>
      <button mat-button>
        S'Enregistrer
      </button>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-drawer-content>
  <div class="example-sidenav-content"></div>
</mat-drawer-container>