
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
@import '~bootstrap/dist/css/bootstrap.min.css';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$GestionStock-primary: mat-palette($mat-indigo);
$GestionStock-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$GestionStock-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$GestionStock-theme: mat-light-theme((
  color: (
    primary: $GestionStock-primary,
    accent: $GestionStock-accent,
    warn: $GestionStock-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($GestionStock-theme);

/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { position: relative; height: 100%; margin: 0;padding:0; }
mat-drawer-container { flex: 1 1 auto; }
mat-drawer-container, mat-drawer-content { display: block; height: 100%; }
main { height: 100%; overflow-y: auto; }
.center-divs{
  margin-top: 180px;
}
.btn-in{
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}
.btn-prim{
  color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-dan{
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
.btn-war{
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}
// /* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
